<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
<connectionStrings>
    <add name="dbconnection" providerName="System.Data.SqlClient"
        connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\DEMO.mdf;Integrated Security=True" />
 
 <add name="dbconnection2" providerName="System.Data.SqlClient"
        connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\MyCollege.mdf;Integrated Security=True" />
  </connectionStrings>
  <appSettings>
    <add key ="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
    <system.web>
      
      <compilation debug="true" targetFramework="4.5" />
      <pages>
      <namespaces>
        <add namespace="System.Data"/>
        <add namespace="System.Text"/>
        <add namespace="System.Data.SqlClient"/>
        <add namespace="System.Configuration"/>
      </namespaces>
    </pages>
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
